@import "bootstrap/dist/css/bootstrap.min.css";

html {
	scroll-behavior: smooth;
}

.logo {
	background-color: #0b84e1;
	padding: 0px 25px 8px 25px;
	border-radius: 15px;
	color: white;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo__title {
	font-weight: bold;
	font-size: 15pt;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	letter-spacing: 2px;
}

.logo__subtitle {
	font-size: 12pt;
	margin-top: -6px;
	font-family: serif;
	letter-spacing: 1px;
}

.navbar_light {
	background-color: white !important;
}
.navbar_light__links {
	color: black !important;
	transition: ease 0.5s;
}
.navbar_light__links:hover {
	color: white !important;
	background-color: cornflowerblue;
	border-radius: 10px;
}

.c-item {
	height: 400px !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c-item img {
	height: 400px !important;
	border-radius: 20px;
}

@media (max-width: 600px) {
	.c-item {
		height: 300px !important;
	}
	.c-item img {
		height: 300px !important;
	}

	.inicio {
		height: 100vh;
		display: flex;
		flex-direction: column !important;
	}
	.inicio__left-content {
		width: 100% !important;
	}
	.inicio__rigth-content {
		width: 100% !important;
		margin-top: 30px;
	}
	.inicio__left-content-footer {
		margin-top: 5px;
	}
}

.inicio {
	height: 550px;
	margin-top: 30px;
	display: flex;
}

.inicio__left-content {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.inicio__left-content-footer {
	display: flex;
	flex-direction: column;
}
.inicio__left-content h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}
.inicio__rigth-content {
	width: 60%;
}

.comidas {
	min-height: 100vh;
}

.precios {
	height: 100vh;
}
.acerca {
	height: 100vh;
}
.contacto {
	height: 100vh;
}
.title-section {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
}

.inicio__contact-title {
	margin-top: 20px;
	font-family: sans-serif;
}

.navbar_light {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
