@import "bootstrap/dist/css/bootstrap.min.css";

html {
	scroll-behavior: smooth;
}

.logo {
	background-color: #0b84e1;
	padding: 0px 25px 8px 25px;
	border-radius: 15px;
	color: white;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo__title {
	font-weight: bold;
	font-size: 15pt;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	letter-spacing: 2px;
}

.logo__subtitle {
	font-size: 12pt;
	margin-top: -6px;
	font-family: serif;
	letter-spacing: 1px;
}

.navbar_light {
	background-color: white !important;
}
.navbar_light__links {
	color: black !important;
	transition: ease 0.5s;
}
.navbar_light__links:hover {
	color: white !important;
	background-color: cornflowerblue;
	border-radius: 10px;
}

.c-item {
	height: 400px !important;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.c-item img {
	height: 400px !important;
	border-radius: 20px;
}

@media (max-width: 768px) {
	.c-item {
		height: 250px !important;
	}
	.c-item img {
		height: 250px !important;
		width: 100% !important;
	}

	.inicio {
		min-height: 100vh;
		display: flex;
		flex-direction: column !important;
	}

	.inicio__left-content {
		width: 100% !important;
	}
	.inicio__rigth-content {
		width: 100% !important;
	}

	.precios__items {
		display: flex;
		flex-direction: column !important;
	}

	.precios__items-left {
		width: 100% !important;
	}
	.precios__items-right {
		width: 100% !important;
	}

	.fo-right h3 {
		font-size: 20px !important;
	}
	.fo-lef {
		min-width: 30% !important;
	}
	.acerca {
		display: flex !important;
		flex-direction: column !important;
	}
	.comidas {
		margin-top: 150px !important;
	}
}
@media (max-width: 980px) {
	.comidas {
		margin-top: 150px !important;
	}
}
@media (max-width: 600px) {
	.comidas {
		margin-top: 200px !important;
	}
}

.inicio {
	height: 550px;
	margin-top: 30px;
	display: flex;
}

.inicio__left-content {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.inicio__left-content-footer {
	display: flex;
	flex-direction: column;
}
.inicio__left-content h1 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}
.inicio__rigth-content {
	width: 60%;
}

.comidas {
	min-height: 100vh;
}

.precios {
	min-height: calc(100vh - 200px);
	margin-top: 10px;
}

.precios-container {
	background-color: #1b4332;
	height: 100%;
	border-radius: 15px;

	color: white;
}

.precios__items {
	width: 95%;
	margin: auto;
	display: flex;
	flex-direction: row;
}
.acerca {
	margin-top: 30px;
	min-height: 400px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	background-color: #023047;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.contacr-dev {
	position: absolute;
	bottom: 0;
	right: 50px;
}
.fo-lef {
	min-width: 50%;
}
.fo-lef img {
	width: 100%;
	height: 400px;
}
.fo-right {
	width: 50%;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contacto {
	min-height: 100vh;
}
.title-section {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	font-weight: bold;
	color: rgb(56, 55, 55);
}

.inicio__contact-title {
	margin-top: 20px;

	font-family: sans-serif;
}

.navbar_light {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.img-thumnail {
	max-height: 330px !important;
}
.precios__items-left {
	width: 50%;
}
.precios__items-right {
	width: 50%;
}

.whatsapp {
	width: 150px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
}
.whatsapp:hover {
	color: white;
}
.star {
	color: orange;
}
